<!DOCTYPE html>
<html lang="en">
<head>

    <title>My Web page</title>
</head>
<body>
    <h1> Bhuvaneswaridevi Ghanta</h1>
    <a href="bonus.html">BONUS</a>
    <h6>Tirupati</h6>
    <p><b>Tirupati</b> is one of my favourite destination spot in <b>India</b>.Tirupati, 
        we can understand the unique aspects that make the place holy and beautiful.
        As the temple is situated at an elevation of 850 metres, people can enjoy 
        the mesmerising sights around. With sacred waterfalls and tanks, 
        the temple offers a visual treat to our eyes due to its ancient, elegant architecture.</p>
        <hr>
        <h3>Tirupati Activities</h3>
        <ol>
            <li>1st  i visited lord venkateswara swamy temple</li>
            <li>Later me and my family went to restaurant  for lunch and ate</li>
            <ol>
                <li>Sambar rice</li>
                <li>dal rice</li>
                <li>curd rice</li>
            </ol>
            <li>After that we all went to movie </li>
        </ol>
        <ul>
            <li>Biryani</li>
            <ul>
                <li>mutton biryani</li>
                <li>ChickenDumBiryani</li>
                <li>fish biryani</li>
            </ul>
            <li>Butter Naans</li>
            <li>Pulihora</li>
            <li>Ice cream</li>
        </ul>
        <a href="mystats.html">Chicken Biryani</a>
        <hr>
        <h3>Tables</h3>
        <p>In this section i am going to create a table with at least 
            4 kinds of sports that i would recommend someone try.
            Below table each sport explaning about worth of the sport and spending time.</p>
            <table style="border: 1cm;">
                <tr>
                   <th>Sport</th>
                   <th>Reason for Recommend</th>
                   <th> Hours in an Average week</th>
                    </tr>
                    
                <tr>
                    <td>Swimming</td> 
                    <td>Swimming is a Great stress reducer</td>
                    <td>7 Hours</td>
                </tr>
                <tr>
                    <td>Tennis</td> 
                    <td>Tennis is a good sport for Maintaining FItness</td> 
                    <td>10 Hours</td>
                </tr>
                <tr>
                    <td>Badmiminton</td> 
                    <td>Badminton can help strengthen</td>
                    <td>7 Hours</td>
                </tr>
                <tr>
                    <td> Cycling</td> 
                    <td>Cycling reduces blood fat levels</td>
                    <td>5 Hours</td>
            </table>
            <hr>
            <h3>Code display section</h3>
            <blockquote>How to smooth smooth-scrolling in css-sass</blockquote>
            <a href="https://stackoverflow.com/questions/55867466/how-to-smooth-scroll-up-on-page-angular-7">Stack overflow answer displayed</a>
            <pre>
                div *ngIf="displayNoneOnBtn" [hidden]="!displayNoneOnBtn"  id="btnTest" class="shadow d-flex flex-column align-items-center justify-content-center">
            <ng-container *ngIf="!disableBtn">
                <i class="material-icons arrow-up-button" (click)="scrollTopWindow()">keyboard_arrow_up</i>
            </ng-container>
            <ng-container *ngIf="disableBtn">
                <i class="material-icons arrow-down-button" (click)="scrollDown()">keyboard_arrow_down</i>
            </ng-container>
        </div>

    </pre>
    <a href="https://css-tricks.com/snippets/jquery/smooth-scrolling/">code snippet</a>


        
        
</body>
</html>
